<li>
  <%= link_to position.title, position %>
	<% if current_user.admin? %>
		| <%= link_to "delete", position, method: :delete,
																	data: { confirm: "Are you sure?" } %>
	<% end %>
</li>