<% provide(:title, @position.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="position_info">
      <h1>
        <%= @position.title %>
      </h1>
      <%= @position.description %>
    </section>
  </aside>
</div>