<li>
  <%= link_to candidate.nickname, candidate %>
	<% if current_user.admin? %>
		| <%= link_to "update", edit_candidate_path(candidate) %>
		| <%= link_to "delete", candidate, method: :delete,
																	data: { confirm: "Are you sure?" } %>
	<% end %>
</li>